section, aside
{
	float:left;
	padding:0 10px;
}

aside.menu div, table
{
	margin:0 0 10px 0;
	padding:0 0.5em;
}

#canvas
{
	margin-top:2px;
}

canvas.menuItem
{
	padding:3px 0 0 3px;
	width:px;
	height:px;
}

.menuArea h3
{
	margin:0.5em 0;
	width:250px;
}

.otherMenuOptions
{
	list-style-type: none;
	padding:0.5em;
}

.otherMenuOptions li
{
	padding:0 0 0.5em 0;
}

.menuSection
{
	width:300px;
	height:800px;
}

a.fake-link
{
	text-decoration:underline;
	color:blue;
	cursor:pointer;
}

.fa
{
	padding-right: 0.4em;
}