section, aside
{
	float:left;
	padding:0 10px;
}

aside.menu div, table
{
	margin:0 0 10px 0;
	padding:0 0.5em;
}

#canvas
{
	margin-top:2px;
}

canvas.menuItem
{
	padding:3px 0 0 3px;
	width:115px;
	height:100px;
}

.menuArea h3
{
	margin:0.5em 0;
	width:250px;
}

.otherMenuOptions
{
	list-style-type: none;
	padding:0.5em;
}

.otherMenuOptions li
{
	padding:0 0 0.5em 0;
}

.menuSection
{
	width:330px;
	height:800px;
}

a.fake-link
{
	text-decoration:underline;
	color:blue;
	cursor:pointer;
}

ul.menu
{
	padding:0;
}

ul.menu li
{
	list-style-type: none;
	float:left;
	margin:0;
	padding:0;
}

ul.menu li div
{
	width:120px;
	margin:0 1em 1.5em 0;
}

ul.menu li div.disable
{
	background-color: grey;
}

div.disable canvas
{
	background-color: grey;
}

ul.menu li span
{
	font-size: 12px;
}

ul.menu li span.name
{
	float: left;
}

ul.menu li span.quantity
{
	float:right;
}

#menu .ui-accordion-content
{
	padding:0.5em 1em;
}

.fa::before
{
margin-right:0.4em;
}